<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CLINICA.Properties.Settings.CLINICAConnectionString"
            connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=CLINICA;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>